/* nav section */
nav {
padding-top:  20px;
background-color: rgb(2, 2, 2);
margin-top: 0px;
width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
    padding: 25px;
}
nav ul li{
    display: flex;
    font-size: 25px;
    font-style: italic;
    justify-content: center;
    color: white;
}   
nav>ul>li>a{
    text-transform: uppercase;
    color:white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    padding-left: 20px;
  }


.header{
    background-image: url(https://previews.123rf.com/images/bbtreesubmission/bbtreesubmission1809/bbtreesubmission180914209/108214762-combination-pizza.jpg);
    height: 100vh;
}


/* landing section */
#landing h1{
    padding-left: 38%;
    padding-top: 5%;
    font-size: 80px;
    font-style: italic;
}


/* about section */
#about{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    background-color: wheat;
    display: flex;
}

#about p{
    padding-left: 30%;
}
#about h1{
    color: brown;
}